<!-- Locate Your Favorite Cryptos

Where to Buy, Where to Trade -->
<div class="flex flex-col w-full">
    <div class="flex flex-col text-center justify-center mt-2">
        <h1
            class="mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-xl dark:text-white text-center">
            Locate Your Favorite Cryptos <br>
            Where to <span
                class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Buy</span>,
            Where to <span
                class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Trade</span>
        </h1>
    </div>

    <div class="w-full flex flex-col mx-auto justify-center">

        <div class="flex items-center justify-center mx-2 lg:mr-8">
            <div class="lg:flex">
                <!-- Light version -->
                <img class="dark:hidden w-50" src="assets/images/logo/light-bg.svg" alt="Logo image">
                <!-- Dark version -->
                <img class="hidden dark:flex w-50" src="assets/images/logo/dark-bg.svg" alt="Logo image">
            </div>
            <!-- Small version -->
            <!-- <img class="flex lg:hidden w-8" src="assets/images/logo/dark-bg.svg" alt="Logo image"> -->
        </div>
        <div class="w-ful md:w-1/2 md:mx-auto -mt-12">
            <app-search-crypto />
        </div>
    </div>
</div>